extends ../layouts/base
include ../mixins/feature-list

block content
    .o-band(style="margin-bottom: 30px"): .o-card
        .o-card__figure: .c-fluid-container-16-9
          iframe(src="https://www.youtube.com/embed/S5rezgxdPC0" frameborder="0" allowfullscreen)
        .o-card__title Pinheirinho lorem ipsum sit dolor amet

    // News Section
    section.o-band.o-band--tint: .o-wrapper.clearfix
        h3.c-heading Notícias
        +feature_list(data.news)
        h5: a.c-link.u-float-right(href='/noticias') mais notícias 
   
    // Gallery Section
    section.o-band.o-band--red: .o-wrapper.clearfix
        h3.c-heading.u-font-white.u-text-center Galeria
        +feature_list(data.galleries)
        h5: a.c-link.u-font-white.u-float-right(href='/galerias') mais galerias 

    // Contact Form
    section.o-band 
        h3.heading Fale Conosco
        form.c-form(action="post")
            .c-form__field
                input.c-form__input(placeholder="joão exemplo" type="text")
                span.c-form__status-icon
                label.c-form__label nome
            .c-form__field
                input.c-form__input(placeholder="joão@exemplo.com" type="email")
                span.c-form__status-icon
                label.c-form__label email
            .c-form__field
                textarea.c-form__input(type="text")
                label.c-form__label email
            button.c-btn(type="submit") Enviar
