extends ../layouts/base
include ../mixins/feature-list

block content
    .o-band(style="margin-bottom: 30px"): .o-card
        .o-card__figure: .c-fluid-container-16-9
          iframe(src="https://www.youtube.com/embed/S5rezgxdPC0" frameborder="0" allowfullscreen)
        .o-card__title Pinheirinho lorem ipsum sit dolor amet

    // News Section
    section.o-band.o-band--tint: .o-wrapper.clearfix
        h3.c-heading Notícias
        +feature_list(data.news)
        h5: a.c-link.u-float-right(href='/noticias') mais notícias 
   
    // Gallery Section
    section.o-band.o-band--red: .o-wrapper.clearfix
        h3.c-heading.u-font-white Galeria
        +feature_list(data.galleries)
        h5: a.c-link.u-font-white.u-float-right(href='/galerias') mais galerias 

    // Contact Form
    section.o-band: div(class="o-wrapper o-wrapper--small@ds")
        h3.c-heading Fale Conosco

        contact-form

    script(src='https://cdnjs.cloudflare.com/ajax/libs/riot/3.0.1/riot.min.js')
    script(src='/js/components/load-button.js')
    script(src='/js/components/contact-form.js')
    script.
        console.log('riot.mount');
        riot.mount('*', {name: 'Giovanni'});


