mixin feature_list(items)
    ul.o-feat-list
        each item in items
            li.o-feat-list__item
                .o-feat-list__img(style=`background-image: url(${item.heroUrl})`)
                a(href=item.url): h3.c-heading.c-heading--small= item.title
                if item.content
                    p.summary !{item.content.slice(0, 220)}...

