.o-feat-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    margin-bottom: $spacing-default;

    &__item {
        flex: 0 1 30%;
    }


    &__item + &__item {
        margin-top: $spacing-default;
    }

    @include media('>phone') {
        flex-direction: row;
        
        &__item + &__item {
            margin-top: 0;
            margin-left: $spacing-default;
        }       
    }
}

