@import '../settings/spacing';
@import '../settings/colors';

.site-nav {
    padding: $spacing-large;
    margin-bottom: $spacing-default;
    
    &__list {
        display: flex;
        justify-content: center;
    }

    &__item {
        float: left;
    }

    &__item + &__item {
        margin-left: $margin-large;
    }

    &__link {
        display: block;
        font-size: $font-large;
        position: relative;
        color: $dark-gray;
    }

    &__link:after {
        content: '';
        position: absolute;
        bottom: 1px;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: $dark-gray;
        transform: scaleX(0);
        transform-origin: 50% 50%;
        transition: transform 0.5s ease;
    }

    &__link:hover:after {
        transform: scaleX(1);
    }
}

