.o-layout {
    margin-left: -$spacing-large;

    &__item {
        display: inline-block;
        padding-left: $spacing-large;
        vertical-align: top;
    }

    &__item + &__item {
        margin-top: $spacing-large; 
    }
}
