.o-list-ui {
    padding-left: $spacing-default;

    &__item {
        border-bottom: 1px solid $light-gray;
        padding-bottom:  $spacing-large;
        
        & + & {
            margin-top: $spacing-large;
        }
    }
}
