.page-head {
    position: relative;
    margin: 0;

    &__img--placeholder {
        display: block;
        
        width: 100%;
        height: 280px;
        background-color: #AAAAAA;
    }

    // Img Icon Placeholder
    .placeholder {
        display: block;
        margin: 0 auto;
        height: 100%;
    }
}
