.page-head {
    position: relative;
    width: 100%;
    margin: 0;
    margin-bottom: $spacing-mega;

    @include media('<=tablet') {
      margin-bottom: $spacing-kilo;
    }

    @include media('<=phone') {
      margin-bottom: $spacing-medium;
    }

    &__img {
        display: block;
        width: 100%;
      @include media('<phone') {
        width: auto;

      }
    }

}
