.o-wrapper {
    padding-left: $spacing-default;
    padding-right: $spacing-default;
    margin: 0 auto;
    max-width: 1200px;

    &__featured {
        margin: 0 auto;
        max-width: 900px;
        line-height: 1.68;
        margin-bottom: $spacing-large;
        text-align: justify;

        p { margin-bottom: $spacing-medium }

        @include media('<tablet') {
          text-align: left;
          p { margin-bottom: $spacing-small }
        }
    }

    @include media('>tablet') {
        &--slim\@ds {
            max-width: 980px;
        }
        &--small\@ds {
            max-width: 800px;
        }
    }
}
