extends ../../layouts/base.pug
include ../../mixins/pagination.pug

block content
  h1= title
  each single in data.news.results
    .flag
      img.flag__solid-cp( src=single.heroUrl height="100px" )
      .flag__fluid-cp: a( href=single.url)= single.title

  br
  +pagination(data.news)

