extends ../../layouts/base.pug
include ../../mixins/pagination.pug

block content
  h1= title
    ul
      each single in data.news.results
          li
            a( href=single.url)= single.title
            img( src=single.heroUrl height="100px" )

  br
  +pagination(data.news)

