header.page-head
  .page-head__img--placeholder
    img.placeholder(src="../../public/images/icons/img-icon.svg")
  nav.site-nav
    ul.site-nav__list.clearfix
        li.site-nav__item: a.site-nav__link(href="#") HOME
        li.site-nav__item: a.site-nav__link(href="#") FICHA TÉCNICA
        li.site-nav__item: a.site-nav__link(href="#") MÍDIAS
        li.site-nav__item: a.site-nav__link(href="#") JURÍDICO
        li.site-nav__item: a.site-nav__link(href="#") FALE CONOSCO
