header.page-head
  .page-head__img--placeholder
    img.placeholder(src="../../public/images/icons/img-icon.svg")
  nav.c-site-nav
    ul.c-site-nav__list.clearfix
        li.c-site-nav__item: a.c-site-nav__link(href="/") home
        li.c-site-nav__item: a.c-site-nav__link(href="#") ficha técnica
        li.c-site-nav__item: a.c-site-nav__link(href="#") mídias
        li.c-site-nav__item: a.c-site-nav__link(href="#") jurídico
        li.c-site-nav__item: a.c-site-nav__link(href="#") fale conosco
