extends ../../layouts/base.pug

block content
  h1= title
  div
  each gallery in data.galleries
    .flag
      img.flag__solid-cp( src=gallery.heroUrl height="100px" )
      .flag__fluid-cp
        a( href=gallery.url )= gallery.title
