extends ../../layouts/base.pug
include ../../mixins/source.pug

block content
  h1= title
  
  ul.o-mosaic
    each image in data.gallery.images
      li.o-mosaic__item
        picture
            +source(image.url, 'max-width: 420px', 380)
            +source(image.url, 'max-width: 780px', 600)
            img(src=image.url)
