.c-btn {
  display: block;
  padding: $spacing-tiny $spacing-medium;
  
  font-size: $font-large;
  color: $base-white;
  
  background-color: $primary-red;
  
  &--fluid {
    width: 100%;
  }

  &:hover {
    background-color: $light-red;
  }
  
  &:active {
    background-color: $dark-red;
  }
}
